name: "Terraform"

on:
  push:
    branches:
      - main
  # pull_request:

jobs:
  terraform:
    name: "Terraform Deployment"
    env:
      ARM_CLIENT_ID: ${6eabb5f8-ba34-4c88-be40-890cdf93ad7e}
      ARM_CLIENT_SECRET: ${IT.8Q~enI2Hyp1hhhseI9cG6C7O7J~uzQeeIBbRm}
      ARM_SUBSCRIPTION_ID: ${b92ea061-7db2-40ee-ad4a-cee871832b64}
      ARM_TENANT_ID: ${88d59d7d-aecb-41b2-90c5-55595de02536}
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Format
        id: fmt
        run: terraform fmt -check

      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform Plan
        id: plan

        run: terraform plan -no-color -input=false

      - name: Terraform Apply
        run: terraform apply -auto-approve -input=false
